<ion-view hide-back-button="true">
  <ion-content has-header="true" has-tabs="true" padding="true">
    <div style="margin-bottom:50px;">
      <img src="img/os.png"></img>
    </div>
    <form ng-submit="tryLogin()">
      <div class="list">
        <label class="item item-input">
          <input type="text" placeholder="Username" ng-model="loginData.username">
        </label>
        <label class="item item-input">
          <input type="password" placeholder="Password" ng-model="loginData.password">
        </label>
        <div>
          <button class="button button-block button-positive" type="submit">Login</button>
        </div>
        <div style="text-align: center">
          Or <a href="/#/signup">Sign up</a>
        </div>
      </div>
    </form>
  </ion-content>
</ion-view>
